{% load static %}

    <head>
        <title>Looking Glass — Art and ML</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, Demo, kit, web design">
        <meta name="description" content="HTML and CSS demo starter kit. Use this to create other demos.">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        
    </head>
    <body>
        <script>
            function popRest() {
                    var rest = document.getElementById('rest');
                    rest.style.display = 'none';
                    active.style.display = 'block';
                }
            function popActive() {
                var active = document.getElementById('active');
                active.style.display = 'none';
                rest.style.display='block';
            }
        </script>
        <div id="rest" class="restingState"></div>
            <h2 class="title">The Looking Glass</h2>
            <form id="speakForm" onpointerenter="speak()" onpointerleave="done()" method="post" action="/process_audio">
                {% csrf_token %}
              
                <button id="speakButton" type="submit">
                    <h1>Speak</h1>
                </button>
            </form>
            <img src="{% static 'blurred.png' %}" class="image-animation">
        </div>
        <script>
            function speak(){
                var button = document.getElementById('speakButton');
                button.classList.add("button-animation")
            }
            function done(){
                var button = document.getElementById('speakButton');
                button.classList.remove("button-animation")
            }

            // Get the button element
            var speakButton = document.getElementById("speakButton");
            var pressed = false
            var num_presses = 0

            // Add event listener for click event
            speakButton.addEventListener("click", function(event) {
                
                // Prevent the default form submission behavior
                if (pressed) {
                    event.preventDefault();
                }
                pressed = true;
                num_presses += 1;

                // Change the text of the button
                if (num_presses > 1) {
                    speakButton.querySelector("h1").textContent = "Processing...";
                    speakButton.style.cursor = "default";
                }
                else {
                    speakButton.querySelector("h1").textContent = "Done Speaking";
                }
                
            });
        </script>
    </body>