/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom code below*/

body{
    overflow: hidden;
}

body img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}


.title {
    position: absolute;
    top: 10%; /* Position the title vertically in the middle */
    left: 50%; /* Position the title horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the title */
    z-index: 2; /* Ensure the title appears above the image */
    color: white; /* Set title color */
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; /* Add outline effect */
    background-color: rgba(0, 0, 0, 0); /* Set background color with transparency */
    padding: 10px 20px; /* Add padding */
}

.blur {
    filter: blur(1px);
}

.video-container {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@font-face{
    font-family: "Editorial-Old";
    src: url("PPEditorialOld-Ultralight.otf");
}


form{
    width: 30vw;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    left: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.activeState{
    display: none;
}

button{
    width: 22vw;
    height: 7vh;
   align-content: center;
   text-align: center;
   background-color: black;
   border-radius: 5vh;
   border: none;
   cursor: pointer;
   z-index: 1;
}

.button-animation{
    animation: button 3s infinite;
    animation-timing-function: ease-in-out;
}

.image-animation{
    animation: img 5s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes button {
    from{
        width: 22vw;
        height: 7vh;
    }
    
    50%{
        width: 25vw;
        height: 9vh;
    }
    to{
        width: 22vw;
        height: 7vh;
    }
}

@keyframes img {
    from{
        filter: blur(0px);
    }
    
    25%{
        filter: blur(2px);
    }
    50%{
        filter: blur(4px);
    }
    75%{
        filter: blur(2px);
    }
    to{
        filter: blur(0px);
    }
}


h1{
    font-family: "Editorial-Old";
    font-size: 2em;
    color: white;
}

h2{
    font-family: "Editorial-Old";
    font-size: 5em;
    color: white;
}